amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
boto3==1.38.43
botocore==1.38.43
celery==5.5.3
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cryptography==45.0.4
defusedxml==0.7.1
django==4.2.23
django-cors-headers==4.7.0
django-rest-knox @ git+https://github.com/James1345/django-rest-knox.git@8447cd00358b1a3f76862278711abd2cdcb8837a#egg=django_rest_knox
django-resumable @ git+https://github.com/rphlo/django-resumable@b941d3406e3fcf73b3b4ffefc9572e7b55decb30
djangorestframework==3.16.0
idna==3.10
ifaddr==0.2.0
jmespath==1.0.1
kombu==5.5.4
librespot @ git+https://github.com/kokarare1212/librespot-python@2782d23c7d07254dc87afe9255ce7d7cc075009d
packaging==25.0
pillow==11.2.1
prompt-toolkit==3.0.51
protobuf==3.20.1
psycopg==3.2.9
pycparser==2.22
pycryptodomex==3.23.0
pyogg==0.6.14a1
python-dateutil==2.9.0.post0
python-magic==0.4.27
raven==6.10.0
redis==5.2.1
requests==2.32.4
retricon==1.3.3
s3transfer==0.13.0
sentry-sdk==2.31.0
six==1.17.0
sqlparse==0.5.3
typing-extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
uwsgi==2.0.30
vine==5.1.0
wcwidth==0.2.13
websocket-client==1.8.0
yt-dlp==2025.6.9
zeroconf==0.147.0
mutagen==1.47.0