version: '2'
services:
  db:
    container_name: hk_postgres
    image: postgres:latest
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: changeme
    restart: always
    expose:
      - "5432"
  minio:
    container_name: hk_minio
    image: minio/minio:latest
    volumes:
      - ../media:/data
    expose:
      - "9000"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    command:
      - server
      - /data
  nginx:
    container_name: hk_nginx
    image: nginx:latest
    ports:
      - "8081:80"
    volumes:
      - ../:/app/
      - ../nginx:/etc/nginx/conf.d
    links:
      - minio
    depends_on:
      - django
  django:
    container_name: hk_django
    stop_signal: SIGINT
    build:
      context: ..
      dockerfile: docker/django.dockerfile
    volumes:
      - ../:/app/:rw
    environment:
      DATABASE_URL: postgres://app_user:changeme@db/app_db
    expose:
      - "8000"
    user: ${USERID}:${GROUPID}
    links:
      - redis
      - minio
      - db
    command: ["python", "manage.py", "runserver", "0.0.0.0:8000"]
